@media only screen and (min-width: 950px) {
  .main-filters {
    text-align: center;
    background-color: rgb(133, 133, 133);
    width: 70vw;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 13px 30px rgb(0 0 0 / 0.4);
  }
}

@media only screen and (max-width: 949px) {
  .main-filters {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
