.display-cards-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
}

.cards-list {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.card-container {
  text-align: center;
}
