.pagination-list {
  height: 10vh;
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
}

.pagination-list li + li {
  margin-left: 1rem;
}

.pagination-list__item--active {
  background: none;
  font-weight: bold;
  border: none;
}

.pagination-list__item--active:focus {
  outline: none;
}

.previous-next {
  width: 100px;
}

.page-number-btn {
  width: 45px;
}
