.header-body {
  background-color: rgb(185, 185, 185);
  display: flex;
  justify-content: center;
  height: auto;
  align-items: center;
}

.header-title {
  color: white;
  font-size: 50px;
  font-family: "Righteous", cursive;
}
